<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
  start = -1
  //gl_tree = {"-1":[{name:"All",id:0}]}
  gl_tree = {}
  loading = false
  function createPbutton(id,name)
  {
    var btn = document.createElement("input");
    btn.setAttribute("id",id+"_p")
    btn.setAttribute("class","btn btn-primary")
    btn.setAttribute("value",name)
    btn.style.width = "150px"
    return btn;
  }
  function createSbutton(id,v="+")
  {
    var btn = document.createElement("input");
    let x = "s"
    if(v == "-")
      {
        x = "d"
        console.log("del b c")
      }
    btn.setAttribute("id",id+"_"+x)
    btn.setAttribute("class","btn btn-secondary")
    btn.setAttribute("value",v)
    btn.style.width = "50px"
    return btn;
  }
  function rec_collapse_children(rid)
  {
    let ob = gl_tree[rid]
    if(typeof ob !== "undefined")
    {
      for(i=0;i<ob.length;i++)
      {
        document.getElementById(ob[i].id).remove();
      }
    }
  }
  function rec_del(id)
  {
    childs = gl_tree[id]
    for(i=0;i<childs.len;i++)
    {
      rec_del(gl_tree[childs[i].id])
      delete childs[i]
    }
    delete gl_tree[id]
  }
  function traverse_tree(root,pid = -1,level = 0)
  {
    let ob = gl_tree[pid]
    console.log(ob)
    if(typeof ob !== "undefined")
    {
      for(i=0;i<ob.length;i++)
      {
        dv = document.createElement("DIV")
        dv.id = ob[i].id;
        dv.setAttribute("level",level)
        dv.setAttribute("parent",pid)
        root.appendChild(dv);
        var d_btn = createSbutton(ob[i].id,"-")
        var v_btn = createPbutton(ob[i].id,ob[i].name)
        var a_btn = createSbutton(ob[i].id)
        margin = level*50;
        d_btn.style.marginLeft = margin+"px";

        v_btn.onclick = function(){
          let id = this.id.slice(0,-2)
          let ele = document.getElementById(id)
          let l = Number(ele.getAttribute("level"))+1
          tree_req(ele,l,id);
          }
        a_btn.onclick = function(){
          let id = this.id.slice(0,-2)
          rec_collapse_children(id)
          let name = prompt("Enter name")
          add(name,id);
        }
        d_btn.onclick = function(){
          let id = this.id.slice(0,-2)
          rec_collapse_children(id)
          del(id);
          document.getElementById(id).remove();
          rec_del(id);
        }
        dv.appendChild(d_btn)
        dv.appendChild(v_btn)
        dv.appendChild(a_btn)
      }
    }
  }

  function tree_req(div,level,parent_id){
      loading = true
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        json = JSON.parse(this.responseText)
        console.log(json)
        gl_tree[parent_id] = json[parent_id];
        try
          {
            rec_collapse_children(parent_id)
            console.log("rm")
          }
        catch(err)
          {console.log(err)}
        traverse_tree(div,parent_id,level);
        }
      };
      xhttp.open("GET", "/Accessories/view/"+parent_id, true);
      xhttp.send();

    }

function add(name,pid)
{
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    console.log(this.responseText)
    }
  };
  xhttp.open("GET", "/Accessories/add/"+name+"/"+pid, true);
  xhttp.send();

}
function del(id)
{
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    console.log(this.responseText)
    //delete gl_tree[id];
    }
  };
  xhttp.open("GET", "/Accessories/delete/"+id, true);
  xhttp.send();

}
function  tree()
  {
    r = document.getElementById("Tree");
    tree_req(r,0,-1);
  }
  </script>
</head>
<body onload="tree()">

<div class="jumbotron text-center">
  <h1>Accessories APP</h1>
</div>

<div class="container">
  <div class="row">
    <h3>Products</h3>
  </div>
  <div class="row" id="Tree">
  </div>

</div>

</body>
</html>
